h1 {
    font-weight: bold;
}
.logo {
    font-family: Lora;
    font-weight: bold;
}
#header-offset {
    flex: 0 0 auto;
    width: 100%;
}
.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}
.banner {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
.banner-ribbon {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
    padding-top: 0.5em;
    padding-bottom: 1em;
    background-image: url("ribbon_long.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}
.banner-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.banner-image-container {
    flex: 0 0 40%;
    max-width: 100%;
}
.banner-image {
    width: 80%;
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
}
.banner-info {
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-hora {
    margin-top: 1em;
    margin-bottom: 1em;
}
.banner-countdown {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding-top: 1em;
}
.banner-countdown div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-countdown span {
    font-family: Lora;
    font-weight: 600;
    color: var(--primary-text-color);
    font-size: 1em;
    padding-bottom: 0.5em;
}
.banner-countdown .countdown-item {
    font-size: 1.5em;
}
@media (max-width: 768px) {
    .banner-image-container,
    .banner-info {
        flex: 0 0 100%;
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .banner-info img {
        max-width: 90%;
        height: auto;
    }
    .banner-ribbon {
        background-image: url("ribbon_short.png");
    }
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
footer h1 {
    border-left: 0px;
}
.organisations-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.organisations-list img {
    max-height: 100px;
    max-width: 100%;
    height: auto;
    padding: 10px;
    flex-shrink: 1;
}