{% extends "juice/templates/index.html" %}

{% block hero %}

<div>
    <center>
        <img src="/logo.png" style="width: 35%">
        <h1> IOL 2026 · Bucharest, Romania </h1>
        <h2> July 26th - August 2nd 2026 </h3>
    </center>
</div>

{%endblock hero %}

{% block sidebar %}{% endblock sidebar %}

{% block content %}
    {{ section.content | safe }}
{% endblock content %}

{% block footer %}

<style>
    footer {
        /* background-color: grey; */
        align-items: center;
        padding: 30px;
    }

    footer h1 {
        border: 0px;
    }

    footer .organisations-list {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 30px;
        padding-right: 30px;
        gap: 20px;
    }
        
    footer .organisations-list img {
        align-self: center;
        max-height: 100px;
    }
</style>

<footer>
    <h1>Partners</h1>

    <div class="organisations-list" style="margin-bottom: 50px">
        <img src="footer/logo_MEC.png">
        <img src="footer/logo_UniBuc.png">
        <img src="footer/logo_Drept.png">
    </div>

    <h3>© 2026 - International Linguistics Olympiad</h3>
</footer>

{% endblock footer %}